body {
  margin: 0; /* reset browser default */
}

.battle-canvas-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f4869;
  min-height: 100vh;
  position: relative;
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
}

.yellow {
  background: #f4da64;
  transform: translateX(-50px);
}

.red {
  background: #e25c57;
  transform: translateX(50px);
}

/* halves */
.top {
  clip-path: inset(0 0 49.5% 0);
}
.bottom {
  clip-path: inset(49.5% 0 0 0);
}

/* control stacking */
.red.top {
  z-index: 2;
}
.yellow.bottom {
  z-index: 2;
}
